---
import LayoutBasico from "../layouts/LayoutBasico.astro";
import "../styles/global.css";
const pageTitle = "CV Alejandro";
---

<LayoutBasico pageTitle={pageTitle}>
    <h1 class="titulos">EDUCACIÓN</h1>
    <div>
        <div class="educacion">
            <h2 class="negrita estudio">Máster Desarrollador FullStack</h2>
            <p>MasterD, Madrid | Actualmente</p>
        </div>
        <div class="educacion">
            <h2 class="negrita estudio">
                Confección y Publicación de Páginas Web
            </h2>
            <p>Core Networks, Madrid | Actualmente</p>
        </div>
        <div class="educacion">
            <h2 class="negrita estudio">
                Grado Superior en Desarrollo de Aplicaciones Web (DAW)
            </h2>
            <p>I.E.S. Enrique Tierno Galván, Madrid | 2024 - 2025</p>
        </div>
        <div class="educacion">
            <h2 class="negrita estudio">
                Grado Superior en Desarrollo de Aplicaciones Multiplataforma
                (DAM)
            </h2>
            <p>I.E.S. Enrique Tierno Galván, Madrid | 2022 - 2024</p>
        </div>
        <div class="educacion">
            <h2 class="negrita estudio">
                Grado Medio en Sistemas Microinformáticos y Redes (SMR)
            </h2>
            <p>I.S.E.P. CEU, Madrid | 2019 - 2021</p>
        </div>
    </div>
    <hr />
</LayoutBasico>
