---
import ContenedorContacto from "./ContenedorContacto.astro";
import GitHubIcon from "./Icons/GitHubIcon.astro";
import LinkedInIcon from "./Icons/LinkedInIcon.astro";
---

<style>
    footer {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <div>
        <ContenedorContacto
            plataforma="github"
            usuario="Alejandroleon2002"
            Icon={GitHubIcon}
        />
    </div>
    <div>
        <ContenedorContacto
            plataforma="linkedin"
            usuario="in/alejandro-león-manzanedo"
            Icon={LinkedInIcon}
        />
    </div>
</footer>
