---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { Image } from "astro:assets";
---

<header class="cabecera">
  <Navigation />
  <Image
    class="logo"
    src="/FotoGitHub.svg"
    alt="Foto perfil"
    width="120"
    height="120"
    loading="eager"
    decoding="async"
  />
  <div class="text-center">
    <ThemeIcon />
  </div>
</header>
