---
import "../styles/global.css";
---

    <nav class="navegacion">
        <a href="/">Inicio</a>
        <a href="/estudios/">Estudios</a>
        <a href="/practicas/">Prácticas</a>
        <a href="/contacto/">Contacto</a>
      </nav>


<style>
    a{
        padding: 10px;
        font-size: 1rem;
        text-transform: uppercase;
    }
  </style>