---
const { plataforma, usuario } = Astro.props;
---
<a href={`https://www.${plataforma}.com/${usuario}`}>{plataforma}</a>

<style>
    a{
        padding: 0.5rem 1rem;
        background-color: #978F66;
        text-decoration: none;
    }
</style>
